@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

@import "reset";


html {
    background-color: #f5f7fa;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/

}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  /*padding: 4em 1em;*/
  color: #566b78;
    /*background: red;*/
}

h1{
  color: blue;
}

body{
  background: #fff;
}

p{
font-size: 20px;
}


*{
  background: blue;
}

#parent{
  background: red;

}

.child{
  background: #000;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
.child:nth-child(3){
  background: violet;
}
.child:hover{
  background: yellow;
}
